<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78944078857-l4hnmp16dvam8rv8tvdvrbl1hrobgidn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78944078857-l4hnmp16dvam8rv8tvdvrbl1hrobgidn</string>
	<key>API_KEY</key>
	<string>AIzaSyDfOO2BWsyFckz5w0TyTk-0fEhxVhmWONY</string>
	<key>GCM_SENDER_ID</key>
	<string>78944078857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trustBlockchain</string>
	<key>PROJECT_ID</key>
	<string>trust-blockchain</string>
	<key>STORAGE_BUCKET</key>
	<string>trust-blockchain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78944078857:ios:94181570d02cbfa86f7cd8</string>
</dict>
</plist>